/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .gesture {
    color: red;
  }
  .waiting {
    color: green;

  }

  .reaction {
    color:orange;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: block;
    width: 100%;
    max-width: 200px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
    top: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    left: 50%;
    min-width: 100%;
    transform: translateX(-50%);
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  /* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 942px) {
  .column {
    width: 100%;
  }
}

  /* Body and layout */
  body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 10px;
  }

  .top-texts {
    display: flex;
    gap: 1px;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .top-texts input {
    width: 100%;
    max-width: 280px;
    height: 50px;
    border-radius: 1px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
    padding-left: 4px;
  }

  .main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: start;
  }

  fieldset {
    border: none;
  }

  .button-grid {
    display: grid;
    gap: 5px;
  }

  button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    height: 100px;
  }

  .dropdown {
    text-align: center;
  }

  .dropdown button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  /* button colours for left side (from pepper pages) */
  #DivPosture button:nth-child(1) { background-color: #c25b4e; }
  #DivPosture button:nth-child(2) { background-color: #5b84c2; }
  #DivPosture button:nth-child(3) { background-color: #da6df6; }
  #DivPosture button:nth-child(4) { background-color: #e0b66b; }
  #DivPosture button:nth-child(5) { background-color: #9177b9; }
  #DivPosture button:nth-child(6) { background-color: #b5569f; }
  #DivPosture button:nth-child(7) { background-color: #66c8a7; }
  #DivPosture button:nth-child(8) { background-color: #b95e6b; }
  #DivPosture button:nth-child(9) { background-color: #1bdc28; }
  #DivPosture button:nth-child(10) { background-color: #c2b776; }
  #DivPosture button:nth-child(11) { background-color: #9760e8; }
  #DivPosture button:nth-child(12) { background-color: #cf7916; }
  #DivPosture button:nth-child(13) { background-color: #6a66ed; }
  #DivPosture button:nth-child(14) { background-color: #4ab79a; }
  #DivPosture button:nth-child(15) { background-color: #f2db06; }
  #DivPosture button:nth-child(16) { background-color: #83d1a1; }
  #DivPosture button:nth-child(17) { background-color: #dc995e; }
  #DivPosture button:nth-child(18) { background-color: #a47ce0; }
  #DivPosture button:nth-child(19) { background-color: #b3e284; }
  #DivPosture button:nth-child(20) { background-color: #e89494; }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
  }

  .sidebar button {
    height: 80px;
    font-size: 18px;
    color: black;
    border-radius: 10px;
    max-width: 200px;
    width: 100%;
  }

  .sidebar .rest { background-color: #5b84c2; }
  .sidebar .wake { background-color: #75b575; }
  .sidebar .reboot { background-color: #e6c24d; }
  .sidebar .off { background-color: #c25b4e; }

  /* Utilities */
  .img-60 { width: 60px; height: 60px; }
  .img-128 { width: 128px; height: 128px; }
  .display-inline { display: inline-block; }
  .v-middle { vertical-align: middle; }
  .no-border { border: none; }
  .grid-cols-5 { grid-template-columns: repeat(5, 1fr); }
  .grid-cols-4 { grid-template-columns: repeat(4, 1fr); }
  .slider-width-400 { width: 100%; max-width: 400px; }
  .slidecontainer { width: 100%; }
  .span-cols-5 { grid-column-end: span 5; }
  .hidden { display: none !important; }
  .text-center { text-align: center; }
  .m-5 { margin: 5px; padding: 5px; }
  .input-200x50 { width: 200px; height: 50px; }
  .buttonfont{ color: rgb(7, 19, 36)}
  .bg-grey { background-color: #999999; }

  /* Log container styles */
  #DivLogContainer { display:none; width:100%; max-height:300px; padding:0px; border:solid 1px #444444; border-radius:5px; overflow:auto; }
  #LogLevel { cursor:pointer; margin-left:10px; }


  /* Log line */
  .log-lvl { margin-left: 5px; }
  .log-cat { color: #0094FF; margin-left: 5px; }
  .log-msg { color: #000000; margin-left: 5px; }
  .log-line { border-bottom: solid 1px #DCDCDC; }

  /* Mobile styling */
  @media (max-width: 942px) { /* 942px is minimum width for everything to fit properly */
    .top-texts {
      flex-direction: column;
      align-items: center;
    }
  
    .top-texts input {
      max-width: 100%;
    }
  
    .button-grid button {
      height: 80px;
      font-size: 12px;
    }
  
    .sidebar button {
      height: 60px;
      font-size: 16px;
    }

    .main-grid {
      grid-template-columns: 1fr;
    }
    
   .grid-cols-4 {
     display: grid;
      grid-template-columns: repeat(4, auto);
      justify-content: center;
      gap: 8px;
    }
    .grid-cols-5 {
      grid-template-columns: 1fr;
      gap: 8px;
    }

    .slider, .slider-width-400 {
      width: 100%;
      max-width: none;
    }

    .img-60 { width: 48px; height: 48px; }
    .img-128 { width: 96px; height: 96px; }

    
  }
